<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <div class="container">
      <h1 class="btn" (click)="go2Main()" ><img  class="navbar-brand" src="../assets/Icon/Logo5.png"></h1>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link bg-danger text-white" id="perfil" (click)="isLogged()" >Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bg-danger text-white "  >Buscar Restaurante</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bg-danger text-white " id="cerrar" (click)="go2login()" >Cerrar Sesión</a>
      </li>

    </ul>
  </div>
</nav>

  <!-- Masthead -->
<img src="../assets/fondo6.png" class = "img-responsive position-absolute mx-auto d-block"/>
  <div class="overlay"></div>
  <div class="container p-4">
    <div class="row">
      <div class="col-md-4">
        <form>
          <div id="dirRestForm" class="form-row">
            <div class="col-12 col-md-12">
              <label class="text-danger">Por favor digite una dirección:</label>
            </div>
            <div class="col-12 col-md-3 mb-2 mb-md-0">
              <select #combo class="form-control">
                <option value="Carrera">CRA</option>
                <option value="Calle">CLL</option>
              </select>
            </div>

            <div class="col-12 col-md-2 mb-2 mb-md-0">
              <input #number1 type="email" id="number1" class="form-control" placeholder="#">
            </div>

            <div class="col-12 col-md-1 mb-2 mb-md-0">
              <h2>#</h2>
            </div>

            <div class="col-12 col-md-2 mb-2 mb-md-0">
              <input #number2 type="email" id="number2" class="form-control" placeholder="#">
            </div>

            <div class="col-12 col-md-1 mb-2 mb-md-0">
              <h2>-</h2>
            </div>

            <div class="col-12 col-md-3 mb-2 mb-md-0">
              <input #number3 type="email" id="number3" class="form-control" placeholder="Opcional">
            </div>

            <div class="col-12 col-md-12">
              <button (click) = "getRestaurants(combo,number1,number2,number3)" type="button" class="btn btn-block btn-danger" >Buscar</button>
            </div>
            </div>
            <div id="nameRestForm" class="form-row">
              <div class="col-12 col-md-8 mb-2 mb-md-0">
                <input #nameInputRest id="nameInputForm" type="email" class="form-control" placeholder="Enter...">
              </div>
              <div class="col-12 col-md-4">
                <button (click)="getRestaurantsN(nameInputRest)"type="button" class="btn btn-block btn-danger" >Buscar!</button>
              </div>
          </div>
        </form>
      </div>

      <div class="col-md-8">
          <div class="card">
              <div class="card-body">
                <h2 class="text-danger text-center">SELECCIONE UN RESTAURANTE</h2>
                <div class="row">
                <div class="container p-4">
                  <div class="table-wrapper-scroll-y my-custom-scrollbar">
                      <div *ngFor="let item of this.items; let i = index">
                        <div *ngIf="true">
                          <div id="{{item.Restaurant_ID}}">
                            <div class="col-sm-12">
                              <div class="list-group-item">
                                  <div  class="card-body md-12">
                                  <h6 class="invisible" id="{{item.Restaurant_ID}}" >{{item.Restaurant_ID}}</h6>
                                  <h5 class="card-title">{{item.Restaurant_Name}}</h5>
                                  <p class="list-group-item">{{item.Address}}</p>
                                  <p class="list-group-item">Quedan {{item.Tables_Available}} mesas disponibles</p>
                                  <p class="list-group-item">Valor Reserva: ${{item.Restaurant_Fee}}</p>
                                  <button id="{{item.Restaurant_ID}}" (click) = "addReserva(item.Restaurant_ID,item.Tables_Available)" class="btn btn-primary">Reservar</button>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>

                    </div>
              </div>
              </div>
      </div>
    </div>

</div>



      </div>
      <div id="alerta" class="alert alert-dismissible alert-secondary" style="position:absolute; margin-left: 30%; margin-top:250px">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Por favor inicie sesión antes de continuar</strong>
      </div>
      <div id="alerta2" class="alert alert-dismissible alert-secondary" style="position:absolute; margin-left: 30%; margin-top:250px">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>No hay mesas disponibles</strong>
      </div>
      <div id="alerta3" class="alert alert-dismissible alert-secondary" style="position:absolute; margin-left: 30%; margin-top:250px">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>¡¡Felicidades, su reserva se ha realizado satisfactoriamente!!</strong>
      </div>
    </div>
  </div>
