<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <div class="container">
      <h1 class="btn" routerLink="/login"><img  class="navbar-brand" src="../assets/Icon/Logo5.png"></h1>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link bg-danger text-white" routerLink="/afterlogin">Perfil</a>
      </li>
    <li class="nav-item">
        <a class="nav-link bg-danger text-white " routerLink="/manageclients" >Buscar Restaurante</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bg-danger text-white " routerLink="/login" >Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>

  <!-- Masthead -->
<img src="../assets/fondo6.png" class = "img-responsive position-absolute mx-auto d-block"/>
  <div class="overlay"></div>
  <div class="container p-4">
    <div class="row">
      <div class="col-md-4">
        <form>
          <div class="form-row">
            <div class="col-12 col-md-8 mb-2 mb-md-0">
              <input type="email" class="form-control" placeholder="Enter your email...">
            </div>
            <div class="col-12 col-md-4">
              <button (click) = "getR()" type="button" class="btn btn-block btn-danger" >Sign up!</button>
            </div>
            </div>
        </form>
      </div>

      <div class="col-md-8">
          <div class="card">
              <div class="card-body">
                <h2 class="text-danger text-center">SELECCIONE UN RESTAURANTE</h2>
                <div class="row">
                <div class="container p-4">
                  <div class="table-wrapper-scroll-y my-custom-scrollbar">
                      <div *ngFor="let item of items; let i = index">
                        <div *ngIf="true">
                          <div class="col-sm-12">
                            <div class="list-group-item">
                              <div class="card-body md-12">
                                <h5 class="card-title">{{item}}</h5>
                                <p class="list-group-item">{{item}}</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                              </div>
                            </div>
                          </div>
                        </div>

                    </div>
              </div>
              </div>
      </div>
    </div>

</div>



      </div>
    </div>
  </div>
