<!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">SabanaFood</a>
      <a class="btn btn-danger" routerLink="/login">Sign In</a>
    </div>
  </nav>

  <!-- Masthead -->
  <img src="../assets/imagen2.jpg" class = "img-responsive position-absolute mx-auto d-block"/>
  <header class="masthead text-white text-center">
    <div class="container-content p-4" >
        				<div class="col-md-12" style=" margin-top: 8%;">
        					<div class="card">
        							<div class="card-body">
                          <div class="modal-content p-4">
                            <div class="row">
                              <div class="col-md-12">
                                <h1 class="text-danger text-center">CREE SU CUENTA AQUÍ</h1>
                              </div>
                                <div class="col-md-3">
                                  <div class="form-group row p-2">
                                    <label for="firstNameM" >Primer nombre</label>
                                    <input type="text" placeholder="Escriba su primer nombre" class="form-control form-control-sm" id="firstName" value="">
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <div class="form-group row p-2">
                                    <label for="firstNameM" >Segundo nombre</label>
                                    <input type="text" placeholder="Escriba su segundo nombre" class="form-control form-control-sm" id="secondName" value="">
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <div class="form-group row p-2">
                                    <label for="firstNameM" >Primer apellido</label>
                                    <input type="text" placeholder="Escriba su primer apellido" class="form-control form-control-sm" id="firstLastName" value="">
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <div class="form-group row p-2">
                                    <label for="firstNameM" >Segundo apellido</label>
                                    <input type="text" placeholder="Escriba su segundo apellido" class="form-control form-control-sm" id="scondLastName" value="">
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <div class="form-group row p-2">
                                    <label for="firstNameM" >Correo electrónico</label>
                                    <input type="text" placeholder="Escriba su correo electrónico" class="form-control form-control-sm" id="email" value="">
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <div class="form-group row p-2">
                                    <label for="firstNameM" >Número de teléfono</label>
                                    <input type="text" placeholder="Digite su número telefónico" class="form-control form-control-sm" id="phone" value="">
                                  </div>
                                </div>

                                <div class="col-md-3">
                                  <div class="form-group row p-2">
                                    <label for="firstNameM" >Contraseña</label>
                                    <input type="password" placeholder="Escriba su contraseña" class="form-control form-control-sm" id="phone" value="">
                                  </div>
                                </div>

                                <div class="col-md-3">
                                  <div class="form-group row p-2">
                                    <label for="firstNameM" >Repita su Contraseña</label>
                                    <input type="password" placeholder="Repita su contraseña" class="form-control form-control-sm" id="phone" value="">
                                  </div>
                                </div>

                                <div class="col-md-12">
                                  <div class="col text-center">
                            				<button class="btn btn-danger regular-button"> Registrarse </button>
                            			</div>
                                </div>

                            </div>
                      </div>
              </div>
            </div>

            </div>
            </div>
  </header>
