<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <div class="container">
    <h1 class="btn" (click)="back2Main()"><img  class="navbar-brand" src="../assets/Icon/Logo5.png"></h1>
      <h1 class="btn btn-danger" (click)="back2Login()">Sign In</h1>
    </div>
  </nav>

  <!-- Masthead -->
  <img src="../assets/fondo4.png" class = "img-responsive position-absolute mx-auto d-block"/>
  <div class="container-content" >
			<div class="col-md-6 mx-auto" style="margin-top: 0.8%;">
				<div class="card">
						<div class="card-body">
                <div class="modal-content p-3">
                  <div class="row">
                    <div class="col-md-6">
                      <h1 class="text-danger text-center">SIGN UP</h1>
                    </div>
                    <button (click)="closeSign()" type="button" class="close" style="margin-left:278px; margin-top:-50px" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="firstNameM" >Nombre</label>
                        <input #name id="sgupFN" type="text" placeholder="Escriba su primer nombre" class="form-control form-control-sm" value="">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="firstNameM" >Apellido</label>
                        <input #lastName id="sgupLN" type="text" placeholder="Escriba su segundo nombre" class="form-control form-control-sm"  value="">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 ">
                        <img class="" src="../assets/Icon/Logo2.png" alt="Card image cap" style="position:absolute; margin-left:8%;">
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="firstNameM" >Correo electrónico</label>
                        <input #email id="sgupEM" type="text" placeholder="Escriba su correo electrónico" class="form-control form-control-sm"  value="">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="firstNameM" >Número de cedula</label>
                        <input #ced id="sgupCD" type="text" placeholder="Digite su número cedula" class="form-control form-control-sm"  value="">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="firstNameM" >Contraseña</label>
                        <input #pass id="sgupPS" type="password" placeholder="Escriba su contraseña" class="form-control form-control-sm"  value="">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="col text-center">
                        <button (click) = "addUser(name,lastName,email,ced,pass)" class="btn btn-danger regular-button"> Registrarse </button>
                      </div>
                    </div>
                    <div id="alertSuccess" class="alert alert-dismissible alert-secondary" style="position:absolute; margin-left: 50%;">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      <strong>Oh snap!</strong> No rellenó todos los campos!
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
  </div>
