<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <div class="container">
      <h1 class="btn" (click)="toMain()"><img  class="navbar-brand" src="../assets/Icon/Logo5.png"></h1>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link bg-danger text-white">Perfil</a>
      </li>
    <li class="nav-item">
        <a class="nav-link bg-danger text-white  " (click)="go2Manage2()">Buscar Restaurante</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bg-danger text-white " (click)="hideAfter()">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>
<!-- Masthead -->
<img src="../assets/fondo3.png" class="img-responsive position-absolute mx-auto d-block"/>
  <div class="row">
<div class="container-content col-md-3">
    <div class=" offset-md-1 " style="margin-top: 10%;">
      <div class="card border-danger mb-3 " style="max-width: 20rem;">
        <div class="card-header text-danger  mb-3 ">Perfil</div>
        <div class="card-body">
          <p id="cedula" class="card-title text-danger  "></p>
          <p id="usuario" class="card-title text-danger "></p>
          <p id="correo" class="card-text text-danger"></p>
        </div>
      </div>
    </div>
      </div>


      <div class="col-md-8"  style="margin-top: 2%;">
          <div class="card border-danger mb-3 ">
              <div class="card-body">
                <h2 class="text-danger  text-center">Historial Reservas</h2>
                  <div class="row">
                <div class="container p-4">
                  <div class="table-wrapper-scroll-y my-custom-scrollbar">
                      <div id="reservationContent">
                        <table class="table table-hover">
                            <tbody id="tableBody">
                            </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              </div>
      </div>
      </div>





      </div>
    </div>
