<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <div class="container">
      <h1 class="btn" routerLink="/"><img  class="navbar-brand" src="../assets/Icon/Logo5.png"></h1>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link bg-danger text-white" routerLink="/afterlogin">Perfil</a>
      </li>
    <li class="nav-item">
        <a class="nav-link bg-danger text-white " routerLink="/manageclients" >Buscar Restaurante</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bg-danger text-white " routerLink="/login" >Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>
<!-- Masthead -->
<img src="../assets/fondo3.png" class="img-responsive position-absolute mx-auto d-block"/>
  <div class="row">
<div class="container-content col-md-3">

    <div class=" offset-md-1 " style="margin-top: 10%;">
      <div class="card border-danger mb-3 " style="max-width: 20rem;">
        <div class="card-body">
          <div class="card-header text-danger  mb-3 ">Perfil</div>
          <p class="card-title text-danger ">"Usuario"</p>
          <p class="card-text text-danger">Correo electrónico:
          </p>
        </div>
      </div>
    </div>
      </div>


      <div class="col-md-8"  style="margin-top: 2%;">
          <div class="card border-danger mb-3 ">
              <div class="card-body">
                <h2 class="text-danger  text-center">Historial Reservas</h2>
                  <div class="row">
                <div class="container p-4">
                  <div class="table-wrapper-scroll-y my-custom-scrollbar">
                      <div *ngFor="let item of this.items; let i = index">
                        <div *ngIf="true">
                          <div class="col-sm-12">
                            <div class="list-group-item">
                              <div class="card-body bg-light md-12">
                                <h5 class="card-title text-dark ">{{item.name}}</h5>
                                <p class="list-group-item">{{item.rating}}</p>
                                </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              </div>
      </div>
      </div>





      </div>
    </div>
